@mixin  container {
  max-width: 106.5rem;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin box0 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

@mixin box1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@mixin box2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin box3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

@mixin box4 {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin box5 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin box6 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

@mixin box7 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin box8 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin box9 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin box10 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

@mixin box11 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin box12 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin box13 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin box14 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

@mixin box15 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

@mixin box16 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

@mixin box17 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

@mixin box18 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin box19 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin box20 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}