@import "boxs";
/*
*********reset css *******
*/
@import "reset";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
******** Vars *********
*/
@import "colors";
@import "fonts";

/*
****** General ******
*/
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {

}

a {
  text-decoration: none;
  &:visited {
    color: initial;
  }
}

.container {
  @include container;
}

/*
***** header ****
*/
header {
  width: 100%;
  @include box10;

  & .heading-sup {
    display: none;
  }

  & .heading-main {
    background: $pale-grey2;
    border: solid 1px $light-grey;
    height: 5.3rem;
    & .container {
      @include box3;
      & .logo {
        @include box2;
        & img {
          z-index: 2;
          -webkit-transform: translate3d(0,0,0);
          height: 5rem;
        }
        & a {
          background: $black1;
          @include text-brand;
          padding-top: 0.79rem;
          padding-bottom: 0.66rem;
          padding-left: 2rem;
          padding-right: 0.76rem;
          margin-left: -2rem;
        }
      }

      & form.search {
        display: none;
        & input {
          appearance: none;

        }
      }

      & div.separator {
        width: 0.1rem;
        height: 4.3rem;
        background: $light-grey;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      & div.account, & div.cart {
        & a {
          @include text-menu-secondary;
          & img {
            padding-right: 0;
            vertical-align: bottom;
          }
          & span {
            display: none;
          }
        }
      }
    }
  }

  & div.search {
    & div.container {
      @include box3;
      -webkit-box-pack: center;
      margin-top: 1.3rem;
      margin-bottom: 1.3rem;
      & form.search {
        @include box4;
        width: 90%;
        max-width: none;
        min-width: 31rem;
        margin-right: 1rem;
        & label {
          z-index: 2;
          margin-left: -3.5rem;
        }
        & input {
          @include text-placeholder;
          appearance: none;
          display: flex;
          width: 100%;
          height: 3.9rem;
          padding-right: 4rem;
          padding-left: 1.2rem;
          border: solid 0.1rem $light-grey;
        }
      }
    }
  }

  & nav {
    background: $white-two;
    border: solid 0.1rem $light-grey;
    height: auto;
    & .container {
      @include box10;
      & ul {
        @include box8;
        & li {
          width: 100%;
          &:not(:last-of-type) {
            border-bottom: 0.1rem solid $light-grey;
          }
          & a {
            @include box1;
            @include text-menu-primary;
            &:active {
              color: $fern-green !important;
            }
          }
          &.active {
            & > a {
              color: $fern-green !important;
            }
            & > a:after {
              content: url('./assets/moins.png');
              display: flex;
            }
          }
          &:not(.active) {
            & > a:after {
              content: url('./assets/plus.png');
              display: flex;
            }
          }
        }
        &.primary > li {
          width: 90%;
          display: none;
          & a {
            @include text-menu-primary;
            padding-top: 2.6rem;
            padding-bottom: 2.2rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            line-height: 1;
          }
        }
        &.secondary > li {
          padding-left: 0.9rem;
          &.menu-all {
            @include box2;
            & a {
              @include text-menu-all;
              &:after {
                content: "";
              }
            }
            & img {
              height: 0.9rem;
            }
          }
          & a {
            font-size: 1.4rem;
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
            &:after {
              transform: scale(0.8);
            }
            &:active {
              color: $fern-green;
            }
          }
        }
        &.third > li {
          border: none;
          &:active {
            border-bottom: 0.1rem solid $light-grey;
          }
          & a {
            @include box2;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.94;
            padding-left: 2.2rem;
          }
          & a:after {
            content: "";
          }
          & a:before {
            background-image: url('./assets/triangle.svg');
            background-size: 0.9rem 0.9rem;
            display: inline-block;
            width: 0.9rem;
            height: 0.9rem;
            content: "";
            margin-bottom: 0.1rem;
            margin-right: 0.6rem;
          }
        }
      }
      & .map {
        @include box12;
        background: $black1;
        height: 6rem;
        width: 100%;
        & img {
          padding-left: 1.3rem;
          padding-right: 1.3rem;
          display: flex;
        }
        & a {
          @include text-menu-primary-reverse;
          padding-right: 1.4rem;
        }
      }
      & .phone-location {
        @include box17;
        background: white;
        padding-top: 1rem;
        padding-bottom: 1.4rem;
        & p {
          @include box12;
          background: $black1;
          padding-left: 1rem;
          padding-right: 2rem;
          & a {
            @include text-stores;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
          }
          & img {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

/*
********* Section *********
*/
section {
  width: 100%;
  background: $silver;
  @include box5;

  & article {

    &.product {
      background: white;
      @include box5;
      margin-top: 2.7rem;
      margin-bottom: 2.5rem;

      & div.ariane {
        @include box2;
        padding-top: 1.7rem;
        padding-left: 1rem;
        & p {
          @include text-breadcrumb;
        }
      }
      & div.presentation {
        @include box14;
        width: 100%;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        & > h2 {
          display: flex;
          align-self: flex-start;
          @include text-product-title;
          margin-top: 1rem;
          width: 100%;
        }
        & div.vignettes {
          @include box16;
          width: 100%;
          padding-right: 1.2rem;
          margin-top: 2.2rem;
          & p {
            @include box14;
            width: 5.6rem;
            margin-right: 0.5rem;
            margin-bottom: 0.6rem;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            border: solid 0.1rem $light-grey;
          }
        }
        & div.photo {
          @include box12;
          width: 100%;
          margin-top: 2.2rem;
        }
        & div.book {
          order: 1;
          max-width: 36.8rem;
          margin-top: 2.2rem;
          margin-bottom: 2.1rem;
          margin-left: 0;
          & h2 {
            display: none;
          }
          & table.avis {
            width: 100%;
            max-width: 30rem;
            margin-bottom: 3.9rem;
            & tr:not(:last-of-type) td {
              padding-bottom: 2.2rem;
            }
            & td {
              @include text-product-notice;
              & span.note {

              }
              & a {
                @include text-product-read;
                text-decoration: underline;
              }
              &.note {
                font-size: 0;
                & img {
                  margin-left: 0.7rem;
                }
                & span {
                  @include text-product-notice;
                  margin-left: 1rem;
                }
              }
            }
          }
          & div.colors {
            & p {
              @include text-product-color-disponibility;
            }
            & img {
              margin-top: 1.6rem;
              margin-bottom: 1.9rem;
              margin-right: 1.6rem;
              border: solid 0.1rem $light-grey;
            }
          }
          & div.socials {
            border-top: solid 1px $light-grey;
            padding-top: 1.1rem;
            padding-left: 0.4rem;
            & img {
              width: 2.4rem;
              height: 2.4rem;
              margin-right: 1.3rem;
            }
          }
        }
        & form.purchase {
          @include box5;
          order: 0;
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          padding-top: 2.3rem;
          padding-bottom: 2.4rem;
          border: solid 0.1rem $light-grey;
          margin-bottom: 3.1rem;
          & div.price {
            @include box1;
            width: 100%;
            border-bottom: solid 1px $light-grey;
            padding-bottom: 2rem;
            & p.price-original {
              @include text-product-price-before;
            }
            & p.price-promotion {
              @include text-product-price;
              & span {
                @include text-product-taxes;
                padding-left: 1.2rem;
              }
            }
          }
          & div.size {
            @include box1;
            width: 100%;
            border-bottom: solid 1px $light-grey;
            padding-top: 1.6rem;
            padding-bottom: 1.4rem;

            & label {
              @include text-product-size;
            }
            & div.select {
              position: relative;
              & select {
                @include text-product-size-input;
                appearance: none;
                padding-top: 1.4rem;
                padding-bottom: 1.4rem;
                padding-left: 1.4rem;
                padding-right: 3.4rem;
                cursor: pointer;
              }
              & img {
                position: absolute;
                right: 1rem;
                top: calc(50% - 0.2rem);
                top: -webkit-calc(50% - 0.2rem);
                //margin-left: -2rem;
                pointer-events: none;
              }
            }

          }
          & div.cart-add {
            padding-top: 1.9rem;
            padding-bottom: 1.4rem;
            border-bottom: solid 1px $light-grey;
            & input {
              @include text-product-btn-add;
              padding-left: 2.6rem;
              padding-right: 2.6rem;
              padding-top: 1.7rem;
              padding-bottom: 1.9rem;
              background: $fern-green;
              border: none;
              border-radius: 0.2rem;
              cursor: pointer;
            }
          }
          & div.stock {
            @include box1;
            padding-top: 1.9rem;
            & p {
              @include text-product-stock;
              padding-left: 1.8rem;
            }
          }
          & div.expedition {
            @include box1;
            padding-top: 1.9rem;
            & p {
              @include text-product-color-disponibility;
              padding-left: 1.8rem;
              & span {
                @include text-product-stock;
              }
            }
          }
        }
      }
    }

    &.tabs {
      @include box5;
      margin-bottom: 2.9rem;
      & div.selectors {
        @include box10;
        width: 100%;
        & a {
          @include box1;
          padding: 1.4rem 2.75rem;
          margin-right: 0.15rem;
          margin-bottom: 0.2rem;
          &:not(.active) {
            @include text-tabs-title-close;
            background: $pale-grey;
          }
          &.active {
            @include text-tabs-title-open;
            background: white;
          }
        }
      }
      & div.tab {
        @include box18;
        padding-top: 3.1rem;
        padding-bottom: 3.4rem;
        padding-left: 1.45rem;
        padding-right: 1.45rem;
        background: white;
        width: 100%;
        display: none;
        &.active {
          display: flex;
        }
        & div.title {
          @include box2;
          width: 100%;
          margin-bottom: 3.3rem;
          & h2 {
            @include text-tabs-inner-h2;
            padding-left: 1.23rem;
          }
        }

        & div.left {
          @include box8;
          padding-right: 5.45rem;
          & div.argument {
            padding-left: 1.15rem;
            & div.title {
              margin-bottom: 1.7rem;
              & h3 {
                @include text-tabs-inner-h3;
                padding-left: 1.23rem;
              }
            }
            & p {
              @include text-tabs-inner-p;
              margin-top: 1rem;
            }
            &:not(:last-of-type) p:last-child {
              border-bottom: solid 1px $light-grey;
              padding-bottom: 3.1rem;
            }
          }
        }

        & div.right {
          @include box8;
          width: 100%;
          margin-top: 5.3rem;
          $margin-right-img : 1.7rem;
          & div.slider {
            @include box8;
            position: relative;
            margin-left: 0;
            & div.photos {
              display: flex;
              & div.photo {
                @include box8;
                margin-right: $margin-right-img;
                &:not(:first-of-type) {
                  display: none;
                }
                & img {
                  max-width: 100%;
                  width: 28.8rem;
                }
              }
            }
            & a {
              position: absolute;
              top: calc(50% - 4.6rem);
              top: -webkit-calc(50% - 4.6rem);
              height: 4.6rem;
              width: 4.6rem;
              background: white;
              text-align: center;
              &.back {
                left: -1.3rem;
              }
              &.next {
                right: -1.3rem+$margin-right-img;
              }
              & img {
                margin-top: 0.9rem;
              }
            }
            & p {
              @include text-tabs-inner-photo-desc;
              margin-top: 1.6rem;
            }
          }
        }
      }
    }

    &.recommandations {
      @include box5;
      background: white;
      margin-bottom: 5.3rem;
      padding-top: 2rem;
      padding-bottom: 0.8rem;
      padding-left: 1.1rem;
      padding-right: 1.1rem;

      & h2 {
        @include text-tabs-inner-h2;
        padding-left: 0.7rem;
        margin-bottom: 1.8rem;
      }
      & div.list {
        @include box0;
        width: 100%;
        & ul {
          @include box0;
          width: 100%;
          & li {
            @include box5;
            max-width: 24.1rem;
            padding-top: 2.2rem;
            padding-bottom: 1.8rem;
            padding-left: 1.1rem;
            padding-right: 1.1rem;
            border: solid 1px $light-grey;
            &:not(:last-of-type) {
              margin-right: 1rem;
            }
            &:nth-of-type(1n +3) {
              display: none;
            }
            & h3 {
              @include text-card-title;
              font-size: 1.3rem;
            }
            & img {
              align-self: center;
            }
            & > img {
              max-width: 75%;
            }
            & div.price {
              @include box8;

              width: 100%;
              & p {
                @include text-card-price;
              }
            }
            & div.original-price {
              @include text-product-price-before;
              @include box12;
              justify-content: center;
              text-decoration: none;
              margin-top: 1rem;
              width: 100%;
              & span {
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}

/*
********* Footer **********
*/
footer {
  & div.advantages {
    width: 100%;
    background: $black1;
    padding-top: 2.3rem;
    padding-bottom: 3.2rem;
    & div.container {
      & ul {
        @include box3;
        width: 100%;
        & li {
          @include box8;
          @include text-footer-band;
          padding-top: 1.5rem;
          &:not(last-of-type) {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  & div.payments {
    width: 100%;
    background: white;
    padding-top: 2.2rem;
    padding-bottom: 2rem;
    & div.container {
      @include box3;
      & ul {
        @include box1;
        width: 100%;
        & li {
          @include box8;
          @include text-product-size;
        }
      }
      & div.left {
        & ul {
          flex-direction: column;
          & img {
            max-width: 100%;
          }
        }
      }
      & div.right {
        & p.btn {
          @include text-footer-btn-payment;
          padding: 1.1rem 2.48rem;
          background: $white-three;
        }
        & li:not(:first-of-type) {
          & p:last-of-type {
            margin-left: 3.1rem;
          }
        }
      }
    }
  }

  & div.communication {
    width: 100%;
    background: $fern-green;
    padding-top: 2.2rem;
    padding-bottom: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    & div.container {
      @include box3;

      & form.newsletter {
        @include box14;

        margin-right: 1rem;
        margin-bottom: 1rem;
        @include text-footer-band3-newsletter;
        & input {
          appearance: none;
          border: none;
        }
        & input {
          &[type="email"] {
            padding: 1.11rem;
            margin-left: 1.3rem;
            margin-right: 0;
            margin-top: 1rem;
            max-width: 19rem;
          }
          &[type="submit"] {
            @include text-btn-newsletter;
            margin-left: 0;
            margin-top: 1rem;
            border: none;
            background: $black;
            padding: 1rem 1.4rem;
            cursor: pointer;
          }
        }
      }

      & div.relations {
        @include box1;
        margin-right: 1rem;
        margin-bottom: 1rem;
        @include text-footer-band3-newsletter;
        & img {
          width: 3.2rem;
          height: 3.2rem;
          margin-left: 1.4rem;
          &:first-of-type {
            margin-left: 1.9rem;
          }
          &:hover {
            cursor: pointer;
          }
          &:active {
            transform: scale(0.8);
          }
        }
      }

      & a.discover {
        @include text-footer-band3-see;
        @include box7;
        & img {
          margin-left: 2rem;
          margin-top: 0.3rem;
        }
      }
    }
  }

  & div.links {
    width: 100%;
    background: white;
    padding-top: 3.4rem;
    padding-bottom: 2.1rem;
    & div.container {
      @include box13;
      padding-left: 1rem;
      & > div:not(:last-of-type) {
        padding-right: 1rem;
      }

      & > div {
        margin-bottom: 3.5rem;
      }
      & div.brand, & div.plus, & div.sav, & div.conseil, & div.quality {
        @include box5;
        width: 20rem;
      }

      & h4 {
        @include text-footer-band4-title;
        margin-bottom: 2rem;
      }

      & a {
        @include text-footer-band4-links;
        &:hover, &:active {
          color: $fern-green;
        }
      }

      & p {
        @include text-footer-band4-p;
      }

      & div.brand {
        & p {
          padding-bottom: 3.1rem;
        }
      }

      & div.quality {
        & a:not(:last-of-type) {
          margin-bottom: 1.5rem;
        }
      }

      & div.conseil {
        & a {
          @include box1;
          @include text-footer-band4-btn-phone;
          padding: 1.5rem;
          background: $black1;
          margin-top: 2.8rem;
          & img {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 430px) {
  footer {
    & div.communication {
      & div.container {
        & form.newsletter {
          flex-direction: row;
          flex-wrap: nowrap;
          & input {
            &[type="email"], &[type="submit"] {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 540px) {
  header {
    & .heading-main {
      & .container {
        & div.account, & div.cart {
          & a {
            & span {
              display: inline-block;
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }
  section {
    article {
      &.recommandations {
        & div.list {
          & ul {
            & li {
              &:nth-of-type(1n +3) {
                display: flex;
              }
              &:nth-of-type(1n +4) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 560px) {
  section {
    article {
      &.tabs {
        & div.selectors {
          @include box6;
          width: auto;
          & a {
            &.active {
              margin-bottom: 0;
            }
            & img:not(.note) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 620px) {
  section {
    article {
      &.product {
        & div.presentation {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          & div.book {
            order: 0;
          }
        }
      }
    }
  }
  footer {
    & div.payments {
      & div.container {
        & div.left {
          & ul {
            flex-direction: row;
            & img {
              max-width: none;
            }
            & p {
              margin-right: 3.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  section {
    article {
      &.tabs {
        & div.tab {
          & div.right {
            & div.slider {
              & div.photos {
                & div.photo {
                  &:not(:first-of-type) {
                    display: flex;
                  }
                  &:not(:first-of-type):not(:nth-of-type(2)) {
                    display: none;
                  }
                  & img {
                    max-width: none;
                  }
                }
              }
            }
          }
        }
      }
      &.recommandations {
        & div.list {
          & ul {
            & li {
              & div.price {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
              }
              & div.original-price {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 730px) {
  div.container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header {
    & div.heading-sup {
      display: flex;
      background: $black1;
      height: 3.3rem;
      & .container {
        @include box1;
        & p {
          @include box2;
          & img {
            padding-right: 1.4rem;
          }
          &.help {
            @include text-help;
            & a {
              color: $squash;
              padding-left: 0.3rem;
            }
          }
          &.store a {
            @include text-stores;
          }
        }
      }
    }

    & div.heading-main {
      height: 9.3rem;
      background: white;
      border: none;
      & div.container {
        & div.hamburger {
          display: none;
        }
        & div.logo {
          & img {
            height: auto;
          }
          & a {
            background: $black1;
            @include text-brand2;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            padding-right: 1.3rem;
          }
        }
        & form.search {
          @include box4;
          width: 45%;
          max-width: 38rem;
          min-width: 31rem;
          margin-right: 1rem;
          & label {
            z-index: 2;
            margin-left: -3.5rem;
          }
          & input {
            @include text-placeholder;
            display: flex;
            width: 100%;
            height: 3.9rem;
            padding-right: 4rem;
            padding-left: 1.2rem;
            border: solid 0.1rem $light-grey;
          }
        }
        & div.account, & div.separator, & div.cart {
          order: 1;
        }
        & div.account, & div.cart {
          & a {
            & span {
              display: none;
              padding-left: 0;
            }
          }
        }
      }
    }

    & div.search {
      display: none;
    }

    & nav {
      display: flex;
      background: $white-two;
      border: solid 0.1rem $light-grey;
      height: 5.3rem;
      & .container {
        @include box1;
        & ul {
          &.primary {
            @include box2;
            & > li {
              border-bottom: 0.5rem solid transparent;
              width: auto;
              & > a {
                line-height: 3;
                padding: 0;
                &:after {
                  content: "";
                }
              }
              &:not(:last-of-type) {
                margin-right: 4.2rem;
              }
              &.active {
                border-bottom: 0.5rem solid $fern-green;
              }
            }
          }

        }
        & .map {
          @include box2;
          height: 100%;
          width: auto;
        }
      }
    }

    & div.desktopMenu {
      border: solid 0.1rem $light-grey;
      & .container {
        @include box5;
        & ul {
          &.secondary {
            @include box13;
            width: 90%;
            background: white;
            z-index: 2;
            height: auto;
            & li {
              border-bottom: none;
              & a {
                padding: 0;
              }
              &.menu-all {
                @include box2;
                width: 100%;
                margin-top: 2.6rem;
                margin-bottom: 3.7rem;
                & a {
                  @include text-menu-all;
                }
                & img {
                  margin-left: 1rem;
                  height: 0.9rem;
                }
              }
            }

            & >li:not(:first-of-type) {
              width: auto;
              &:not(:last-of-type) {

              }
              & > a {
                @include text-menu-title;
                cursor: none;
                pointer-events: none;
                padding-left: 0.9rem;
                &:after {
                  content:"";
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
          &.third {
            margin-top: 2.1rem;
            margin-bottom: 5.2rem;
            & li {
              border-bottom: none;
              & a {
                @include text-menu-list;
                text-transform: none;
                &:hover, &:active {
                  color: $fern-green;
                }
                &:before {
                  background-image: url('./assets/triangle.svg');
                  background-size: 0.9rem 0.9rem;
                  display: inline-block;
                  width: 0.9rem;
                  height: 0.9rem;
                  content: "";
                  margin-bottom: 0.1rem;
                  margin-right: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    & div.communication {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 880px) {
  section {
    article {
      &.tabs {
        & div.tab {
          padding-left: 3.1rem;
          flex-direction: row;
          flex-wrap: nowrap;
          & div.right {
            width: auto;
            margin-top: 0;
            & div.slider {
              margin-left: 2.3rem;
              & div.photos {
                & div.photo {
                  &:not(:first-of-type) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &.recommandations {
        & div.list {
          & ul {
            & li {
              &:nth-of-type(1n +4) {
                display: flex;
              }
              & h3 {
                @include text-card-title;
              }
              & > img {
                max-width: none;
              }
            }
            & div.original-price {
              padding-left: 1.2rem;
            }
          }
        }
      }
    }
  }
  footer {
    & div.payments {
      & div.container {
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 930px) {
  header {
    & div.heading-main div.container {
      & div.account, & div.cart {
        & a {
          & img {
            padding-right: 1.7rem;
          }
          & span {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  footer {
    & div.links {
      & div.container {
        & div.quality {
          order: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 980px) {
  section {
    article {
      &.product {
        & div.presentation {
          flex-wrap: nowrap;
          & > h2 {
            display: none;
          }
          & div.vignettes {
            flex-direction: column;
            flex-wrap: nowrap;
            width: auto;
            & p {

            }
          }
          & div.photo {
            width: auto;
          }
          & form.purchase {
            margin-right: 0.9rem;
            margin-left: 2.9rem;
          }
          & div.book {
            margin-left: 2.9rem;
            & > h2 {
              display: flex;
              @include text-product-title;
              margin-bottom: 3.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  footer {
    & div.payments {
      & div.container {
        & div.right {
          padding-right: 9.29rem;
        }
      }
    }
    & div.communication {
      & div.container {
        @include box1;
        & a {
          max-width: 15.4rem;
        }
      }
    }
  }
}